trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  acrName: starkregistry123
  resourceGroup: chatbot
  backendApp: stark-backend
  frontendApp: stark-frontend
  azureServiceConnection: azure-connection

steps:

# Install Python & Run Tests
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.12'

- script: |
    python -m pip install --upgrade pip
    pip install -r backend/requirements.txt
    pip install pytest
    pytest backend/tests
  displayName: "Run Backend Tests"

# Generate Short SHA
- script: |
    SHORT_SHA=$(echo $(Build.SourceVersion) | cut -c1-7)
    echo "##vso[task.setvariable variable=shortSha]$SHORT_SHA"
  displayName: "Generate Short SHA"

# Build ,Push, Deploy Backend
- task: AzureCLI@2
  inputs:
    azureSubscription: $(azureServiceConnection)
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      IMAGE_TAG="$(Build.SourceBranchName)-$(Build.BuildId)-$(shortSha)"
      echo "Using tag: $IMAGE_TAG"

      az acr login --name $(acrName)

      docker build \
        -t $(acrName).azurecr.io/backend:$IMAGE_TAG \
        -f backend/Dockerfile.backend .

      docker push $(acrName).azurecr.io/backend:$IMAGE_TAG

      az containerapp update \
        --name $(backendApp) \
        --resource-group $(resourceGroup) \
        --image $(acrName).azurecr.io/backend:$IMAGE_TAG

# Build , Push, Deploy Frontend
- task: AzureCLI@2
  inputs:
    azureSubscription: $(azureServiceConnection)
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      IMAGE_TAG="$(Build.SourceBranchName)-$(Build.BuildId)-$(shortSha)"
      echo "Using tag: $IMAGE_TAG"

      az acr login --name $(acrName)

      docker build \
        -t $(acrName).azurecr.io/frontend:$IMAGE_TAG \
        -f frontend/Dockerfile.frontend frontend

      docker push $(acrName).azurecr.io/frontend:$IMAGE_TAG

      az containerapp update \
        --name $(frontendApp) \
        --resource-group $(resourceGroup) \
        --image $(acrName).azurecr.io/frontend:$IMAGE_TAG