services:
  backend:
    build:
      context: .                     
      dockerfile: backend/Dockerfile.backend
    container_name: fastapi_app
    ports:
      - "8000:8000"
    volumes:
      - ./backend/chat.db:/app/backend/chat.db
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: streamlit_app
    ports:
      - "8501:8501"
    depends_on:
      - backend
