version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: fastapi_app
    ports:
      - "8000:8000"
    volumes:
      - ./backend/db.sqlite:/app/db.sqlite
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: streamlit_app
    ports:
      - "8501:8501"
    depends_on:
      - backend
