name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  SECRET_KEY: ${{ secrets.SECRET_KEY }}
jobs:


  test-backend:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          cd backend
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          cd backend
          pytest

 

  build-and-push:
    needs: test-backend
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

      # -----------------------------
      # Build Backend Image
      # -----------------------------
      - name: Build backend image
        run: |
          docker build \
          -t $DOCKER_USERNAME/chatbot-backend:latest \
          -f backend/Dockerfile.backend \
          .

      - name: Push backend image
        run: |
          docker push $DOCKER_USERNAME/chatbot-backend:latest

     

      - name: Build frontend image
        run: |
          docker build \
          -t $DOCKER_USERNAME/chatbot-frontend:latest \
          -f frontend/Dockerfile.frontend \
          frontend

      - name: Push frontend image
        run: |
          docker push $DOCKER_USERNAME/chatbot-frontend:latest

  